<div class=row id=about_me>
    <div class="col-md-offset-2 col-md-8">
        <h3> About Me </h3>
        <p> I'm current a Data Scientist at zulily.com where I apply machine
        learning, statistics, and general programming to create a better
        experience for our users.  I also consult in the Real Time Bidding
        space as well as build websites.<p>

        <p> I'm a graduate of The University of Kansas; BS Accounting '10,
        MS Finance '11.</p>
    </div>
    <div class="col-md-2"></div>
</div>
