<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-31465642-1']);
_gaq.push(['_trackPageview']);


_gaq.push(function () {
      var customVarSlot = 1;
      var gat = _gat._getTrackerByName();
      var currentCustomID = gat._getVisitorCustomVar(customVarSlot);

      if (currentCustomID === undefined) {
        var newCustomID = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
                return v.toString(16);
        });
         _gaq.push(['_setCustomVar', customVarSlot, 'UserID', newCustomID, 1]);
      }
});


(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
