    <ol class=social>
        <li>  <a id=email    class=ss-mail href="mailto:trent@trenthauck.com"></a></li>
        <li>  <a id=twitter  class=ss-twitter href="https://twitter.com/trent_hauck"></a></li>
        <li>  <a id=github   class=ss-github  href="https://github.com/tshauck"></a></li>
        <li>  <a id=linkedin class=ss-linkedin href="http://www.linkedin.com/pub/trent-hauck/23/3bb/725"></a></li>
        <li>  <a id=gplus    class=ss-googleplus href="https://plus.google.com/118037453564101851255?rel=author"></a></li>
    </ol>
